html,
body {
    padding: 0;
    margin: 0;
    width: calc(250px + 2rem);
    box-sizing: border-box;
    font-family: sans-serif;
}
#popup-content {
    max-width: 300px;
    overflow: hidden;
}
#error-content {
    display: none;
    font-size: 0.9em;
    padding: 0.5em;
}
#error-content p {
    margin-bottom: 0;
}
#extension-version a {
    font-size: 0.8em;
}
#book-preview {
    width: 250px;
    height: 333px;
    position: relative;
    margin-bottom: 0.5em;
}
#bg-image, #text-section {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
#bg-image {
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}
h1, h2, h3 {
    margin: 0;
    padding: 0.6em;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.7);
}
h1 {
    padding: 0.5em;
    font-size: 1em;
    font-weight: bold;
    font-variant: small-caps;
}
h2 {
    font-size: 0.9em;
}
h3 {
    font-size: 0.7em;
}
h2, h3 {
    font-size: 0.8em;
    font-weight: normal;
}
#author-field {
    font-weight: bold;
}
#page-title, #revert-title-btn {
    cursor: pointer;
}
#edit-buttons {
    text-align: center;
    visibility: hidden;
    margin: 0.2em 0;
}
.edit-btn {
    padding: 0 0.3em;
    font-size: 0.8em;
    background-color: rgba(255, 255, 255, 0.5);
}
#page-title:hover {
    color: #55658e;
}
#edit-title {
    display: none;
    border: 0 none;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.7);
    width: 100%;
    margin: 0;
    padding: 0.6em;
    resize: none;
    line-height: 1.2em;
    font-size: 1em;
    font-weight: bold;
    font-variant: small-caps;
}
#edit-title:focus {
    outline: 0;
    box-shadow: none;
}
#book-preview:hover #edit-buttons {
    visibility: visible;
}