html,
body {
    padding: 0;
    margin: 0;
    width: calc(250px + 2rem);
    box-sizing: border-box;
    font-family: sans-serif;
}
#popup-content {
    max-width: 300px;
    overflow: hidden;
}
#error-content {
    display: none;
    font-size: 0.9em;
    padding: 0.5em;
}
#error-content p {
    margin-bottom: 0;
}
#extension-version a {
    font-size: 0.8em;
}
#book-preview {
    width: 250px;
    height: 333px;
    position: relative;
    margin-bottom: 0.5em;
}
#bg-image, #text-section {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
#bg-image {
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}
h1, h2, h3 {
    margin: 0;
    padding: 0.6em;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.7);
}
h1 {
    margin-top: 0.5em;
    padding: 0.5em;
    font-size: 1em;
    font-weight: bold;
    font-variant: small-caps;
}
h2 {
    font-size: 0.9em;
}
h3 {
    font-size: 0.7em;
}
h2, h3 {
    font-size: 0.8em;
    font-weight: normal;
}
#author-field {
    font-weight: bold;
}