#popup-content {
    max-width: 300px;
    overflow: hidden;
}
.book-preview {
    width: 250px;
    height: 333px;
    position: relative;
}
.bg-image, .text-section {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.bg-image {
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}
.text-section {
    background-color: rgba(255, 255, 255, 0.6);
}
h1, h2, h3 {
    padding: 0.8em;
    text-align: center;
}
h3 {
    padding: 0.6em;
}
h2 {
    font-size: 0.9em;
}
h3 {
    font-size: 0.7em;
}